<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="gitlab" value="%NUGET_INTERNAL_FEED_URL%" allowInsecureConnections="true" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="%NUGET_INTERNAL_FEED_USERNAME%" />
      <add key="ClearTextPassword" value="%NUGET_INTERNAL_FEED_PASSWORD%" />
    </gitlab>
  </packageSourceCredentials>
</configuration>
